{% import '@macros/global.macro.twig' as global %}
{% import '@macros/news.macro.twig' as news %}

{{ banner }}

{% set content %}
  {{ news.articlesSearch(search_config) }}
  {{ tweets_config ? news.tweets(tweets_config, 'o-vertical-rhythm') }}
  {{ list }}
{% endset %}

{{ global.overlapLayout(content, { negative: true }) }}
