// My Font service
@import url("//hello.myfonts.net/count/281185");
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  *behavior: url(/sites/all/themes/adairs/css/boxsizing.htc);
}

//1200, 980, 768, 767, 480
//@1200: ~"(max-width: 1200px)";
@1000:  ~"(max-width: 1000px)";
@980 :  ~"(max-width: 980px)";
@768 :  ~"(max-width: 768px)";
@640 :  ~"(max-width: 640px)";
@480 :  ~"(max-width: 480px)";
@480 :  ~"(max-width: 480px)";
@320 :  ~"(max-width: 320px)";

.transition (@element; @time; @method: ease) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
      -ms-transition: @arguments;
       -o-transition: @arguments;
          transition: @arguments;
}

body {
  font-size: 13px;
  font-weight: normal;
  font-family: MuseoSlab-500, Arial, sans-serif;
  background: #fff;
}

@font-face {font-family: 'MuseoSlab-700';src: url('../webfonts/281185_0_0.eot');src: url('../webfonts/281185_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/281185_0_0.woff') format('woff'),url('../webfonts/281185_0_0.ttf') format('truetype');}


   @font-face {font-family: 'MuseoSlab-300';src: url('../webfonts/281185_1_0.eot');src: url('../webfonts/281185_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/281185_1_0.woff') format('woff'),url('../webfonts/281185_1_0.ttf') format('truetype');}


      @font-face {font-family: 'MuseoSlab-500';src: url('../webfonts/281185_2_0.eot');src: url('../webfonts/281185_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/281185_2_0.woff') format('woff'),url('../webfonts/281185_2_0.ttf') format('truetype');}

/**
 * Page over all width
 */
.container {
  width: 1000px;
  margin: 0 auto;

  @media @1000 {
    width: 980px;;
  }
  @media @980 {
    width: 768px;
  }
  @media @768 {
    width: 640px;
  }
  @media @640 {
    width: 100%;
    padding: 10px;
  }
}
#page-header,
.site-switcher .container {
  @media @640 {
    padding: 0;
  }
}

.site-switcher {
  text-align: right;
  background-color: #e3e3e3;

  a {
    padding: 4px 20px;
    color: #fff;
    font-weight: normal;
    font-family: MuseoSlab-700, Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    .transition( color; 0.5s );
  }
  a:hover {
    color: #565656;
  }
  .site-blog { background-color: #df73ba; }
  .site-1 { background-color: #ab94b9; }
  .site-2 { background-color: #82c8ba; }
  .selected {
    color: #565656;
    background-color: #fff;
  }
}
.page-logo {
  @media @480 {
    text-align: center;
  }
}
.page-nav-wrapper {
  border-top: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;

  .menu-icon {
    display: none;
    padding: 18px 18px 18px 40px;
    cursor: pointer;
    background: url(../images/icons/icon-menu.png) 12px center no-repeat;
    .transition( color; 0.5s );

    @media @480 {
      display: block;
      border-bottom: 1px solid #ddd;
    }
  }
  .menu-icon:hover {
    color: #e529a5;
  }

  .main-menu,
  .menu {
    li {
      padding: 3px;
      position: relative;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;

      @media @768 {
        width: 49.5%;
        text-align: center;
      }
      @media @480 {
        display: block;
        width: auto;
        border-bottom: 1px solid #ddd;
      }

      a {
        float: none;
        padding: 15px;
        display: block;
        color: #565656;
        font-size: 15px;
        white-space: nowrap;
        text-transform: uppercase;
        text-decoration: none;
        .transition( background-color; 0.4s );

        @media @980 { padding: 15px 7px; font-size: 13px; }
        @media @768 { padding: 10px 15px; }
      }
      a:after {
        margin: 0 3px 0 7px;
        content: url('../images/icons/icon-arrow-down.png');
      }

      ul {
        display: none;
        position: absolute;
        top: 57px;
        left: 3px;
        z-index: 9;
        background-color: #fff;
        border: 1px solid #e5e5e5;

        @media @768 {
          top: 45px;
          width: 98%;
        }
        @media @480 {
          width: 100%;
          top: 2px;
          left: 0;
          position: relative;
          border: none;
        }

        li {
          padding: 0;
          border-bottom: 1px solid #e5e5e5;

          @media @768 {
            width: 100%;
            display: block;
          }
          @media @480 {
            border-top: 1px dashed #e5e5e5;
            border-bottom: none;
          }
        }
      }
    } // End of li
    li.last {
      a:after {
        margin: 0;
        content: '';
      }
    }
    li:hover {
      >a {
        background-color: #f5f5f5;
      }
      ul {
        display: block;
      }
    }
  }
}


/**
 * Page Body Section ===============================================
 */
.page-body-wrapper {
  margin: 30px 0;
  clear: both;

  .page-body-main {
    float: left;
    width: 65%;

    #console {
      margin: 0 0 20px 0;
      padding: 12px;
      color: #555;
      background: #f0f0f0;
      border: 1px dashed #ddd;
    }

    .action-btn-group {
      margin: 10px 0;
      padding: 8px;
      border: 1px dashed #888;

      li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
      }

      li a {
        margin: 0 5px 0 0;
        padding: 5px 12px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        background-color: #e529a5;
        .transition( opacity; 0.5s );
      }
      li a:hover {
        zoom: 1;
        filter: alpha(opacity=80);
        opacity: 0.8;
      }
      li a:active {
        position: relative;
        top: 1px;
      }
    }


    .page-title {
      margin: 10px 0 20px 0;
      display: inline-block;
      color: #565656;
      font-size: 44px;
      font-weight: 300;
      font-family: MuseoSlab-300, Arial, sans-serif;
      line-height: 1em;;
      @media @980 { font-size: 40px; }
      @media @768 { font-size: 35px; }
      @media @640 { font-size: 35px; }
      @media @480 { font-size: 25px; }
    }

    .view-header {
      margin: 0 0 20px 0;
      h1, h1 a {
        text-decoration: none;
        color: #565656;
        display: inline-block;
        font-size: 35px;
        font-weight: 300;
        font-family: MuseoSlab-300, Arial, sans-serif;
        line-height: 1em;
        text-transform: uppercase;
        @media @640 { font-size: 30px; }
        @media @480 { font-size: 25px; }
      }
    }

    .views-row {
      margin: 0 0 60px 0;
    }
    .node-blog-article {
      .article-img {
        margin: 0 0 20px 0;
      }
      h1.title {
        margin: 0 0 20px 0;
        display: inline-block;
        color: #565656;
        font-size: 44px;
        font-weight: 300;
        font-family: MuseoSlab-300, Arial, sans-serif;
        line-height: 1em;

        @media @980 { font-size: 40px; }
        @media @768 { font-size: 35px; }
        @media @640 { font-size: 35px; }
        @media @480 { font-size: 25px; }
      }
      .article-info {
        margin: 0 0 15px 0;
        padding: 8px 0;
        border-top: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;

        .submitted-by {
          margin: 2px 0;
          color: #565656;
          display: inline-block;
          *display: inline;
          *zoom: 1;
        }
        .category {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          .field-label { display: none; }
          a {
            margin: 0 10px 0 0;
            padding: 2px 5px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            color: #fff;
            font-family: 'Archer A', 'Archer B';
            font-weight: 800;
            font-style: italic;
            text-decoration: none;
            background-color: #e529a5;
          }
        }
      }// article-info
      .tags {
        margin: 0 0 15px 0;
        .field-label {
          margin: 0 5px 0 0;
          padding: 5px;
          color: #c2c2c2;
          font-size: 11px;
          font-weight: normal;
          font-family: MuseoSlab-700, Arial, sans-serif;
          line-height: 1em;
          text-transform: uppercase;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: middle;
          border: 1px solid #ececec;
        }
        .field-items {
          margin: 0 5px 0 0;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          a {
            padding: 6px 8px;
            color: #5b5b5b;
            line-height: 1em;
            font-size: 11px;
            font-weight: normal;
            font-family: MuseoSlab-700, Arial, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            background-color: #ececec;
            .transition( color; 0.5s );
            .transition( background-color; 0.3s );
          }
          a:hover {
            color: #ececec;
            background-color: #888;
          }
        }
      }
      .field-type-image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .field-type-text-with-summary {
        color: #565656;
        font-size: 14px;
        font-weight: normal;
        font-family: MuseoSlab-500, Arial, sans-serif;

        a {
          color: #ec008c;
          text-decoration: none;
          .transition( color; 0.5s );
        }
        a:hover {
          color: #565656;
          text-decoration: underline;
        }
      }
    }

    .view-blog-article-list {
      .views-field-field-image {
        img {
          width: 100%;
          height: auto;
          .transition ( all; 0.5s );
          -webkit-filter: brightness(90%);
        }
        img:hover {
          -webkit-filter: brightness(100%);
        }
      }
      .views-field-title h2 {
        a {
          margin: 10px 0 20px 0;
          display: inline-block;
          color: #565656;
          font-size: 44px;
          font-weight: 300;
          font-family: MuseoSlab-300, Arial, sans-serif;
          line-height: 1em;;
          text-decoration: none;
          .transition( color; 0.5s );
          @media @980 { font-size: 40px; }
          @media @768 { font-size: 35px; }
          @media @640 { font-size: 35px; }
          @media @480 { font-size: 25px; }
        }
        a:hover {
          color: #e529a5;
        }
      }
      .article-info {
        margin: 0 0 15px 0;
        padding: 8px 0;
        border-top: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;

        .category{
          a {
            margin: 0 10px 0 0;
            padding: 2px 5px;
            display: inline-block;
            color: #fff;
            font-family: 'Archer A', 'Archer B';
            font-weight: 800;
            font-style: italic;
            text-decoration: none;
          }
          //Category color
          .style-editor { background-color: #e529a5; }
          .ideas-inspiration { background-color: #43cc87; }
          .we-love { background-color: #9273a5; }
          .tips-hits { background-color: #9273a5; }
          .kids { background-color: #76c2b6; }
        }
        .created {
          color: #565656;
          padding: 2px 0;

          a {
            color: #565656;
            text-decoration: none;
            .transition( color; 0.5s );
          }
          a:hover {
            color: #ec008c;
            text-decoration: underline;
          }

          @media @320 {
            margin: 5px 0 0 0;
            display: block;
          }
        }
      }
      //.node-submitted {
      //  padding: 3px 0;
      //  border-top: 1px solid #c0c0c0;
      //  border-bottom: 1px solid #c0c0c0;
      //}
      .views-field-body {
      //.node-content {
        color: #565656;
        font-size: 14px;
        font-weight: normal;
        font-family: MuseoSlab-500, Arial, sans-serif;
        a {
          color: #ec008c;
          text-decoration: none;
          .transition( color; 0.5s );
        }
        a:hover {
          color: #565656;
          text-decoration: underline;
        }
      }
    }

    div.pager {
      padding: 8px;
      border-top: 2px solid #e5e5e5;
      border-bottom: 2px solid #e5e5e5;

      .pager-list, .pager-links {
        *float: left;
      }

      .pager-list li,
      .pager-links li {
        a, span {
          min-width: 26px;
          padding: 5px;
          text-align: center;
          display: block;
          color: #565656;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .pager-list .pager-current {
        background-color: #e5e5e5;
      }
    }



    .comment-wrapper {
      h2.title {
        margin: 40px 0 0 0;
        padding: 20px 0;
        color: #565656;
        font-size: 22px;
        font-weight: normal;
        font-family: MuseoSlab-300, Arial, sans-serif;
        display: block;
        border-bottom: 1px solid #c0c0c0;
      }
      .comment {
        padding: 20px 0;
        position: relative;
        word-break: break-word;
        border-bottom: 1px dotted #c0c0c0;
        .content {
          margin: 0 0 15px 0;
          color: #565656;
          font-size: 14px;
          a {
            color: #ec008c;
            text-decoration: none;
            .transition( color; 0.5s );
          }
          a:hover {
            color: #565656;
            text-decoration: underline;
          }
        }
      }
      .user-picture {
        padding: 0 20px 10px 0;
        position: absolute;
      }
      .comment-title, .comment-title a {
        color: #444;
        text-decoration: none;
      }
      .comment-content {
        padding: 0 0 0 50px;
      }
      .comment-created {
        margin: 0;
        color: #959595;
        font-family: 'Archer A', 'Archer B';
        font-weight: 600;
        font-style: italic;
        font-size: 16px;
      }
      .comment-author, .comment-author a {
        color: #555;
      }
      .comment-form {
        label {
          padding: 5px 0;
          color: #565656;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: normal;
          font-family: MuseoSlab-700, Arial, sans-serif;
        }
      }
      .form-text,
      textarea {
        width: 100%;
        padding: 6px 8px;
        border: 1px solid #959595;
        .transition( border; 0.5s );
      }
      textarea {
        min-height: 180px;
      }
      .form-text:focus, textarea:focus {
        border: 1px solid #ec008c;
      }
      .form-submit {
        margin: 5px 5px 5px 0;
        padding: 10px 25px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        font-family: MuseoSlab-700, Arial, sans-serif;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        background-color: #ec008c;
        border: none;
        .transition( opacity; 0.5s );

        @media @320 {
          width: 100%;
          display: block;
        }
      }
      .form-submit:hover {
        zoom: 1;
        filter: alpha(opacity=80);
        opacity: 0.8;
      }
      .form-submit:active {
        position: relative;
        top: 1px;
      }
      #edit-preview {
        //display: none;
      }


      .filter-wrapper {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        background: #f0f0f0;
        a, label, select {
          color: #b5b5b5;
        }
        select {
          padding: 3px;
          border: 1px solid #b5b5b5;
        }
        .tips {
          li {
            margin: 0 0 0 20px;
            list-style: disc;
          }
          color: #b5b5b5;
        }
      }
    }


    @media @640 {
      width: 100%;
      float: none;
    }
  }

  .page-body-sidebar {
    float: right;
    width: 30%;

    //All blocks overall style.
    .block {
      margin: 0 0 30px 0;
      padding: 0 0 30px 0;
      border-bottom: 1px dotted #bebebe;

      h2.block-title {
        margin: 0 0 20px 0;
        color: #e529a5;
        font-size: 20px;
        font-weight: normal;
        font-family: MuseoSlab-500, Arial, sans-serif;
        @media @980 { font-size: 18px; }
        @media @768 { font-size: 16px; }
        @media @640 { font-size: 20px; }
        @media @480 { font-size: 20px; }
      }
    }

    .block-sidebar-social-network {
      .block-content {
        .sn-icons {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          a {
            margin: 0 10px 10px 0;
            img {
              display: inline-block;
            }
          }
        }
      }
    }//block-sidebar-social-network

    .block-comment {
      .block-content {
        .item-list ul li {
          a {
            color: #3c3c3c;
            font-size: 15px;
            font-family: 'Archer A', 'Archer B';
            font-weight: 700;
            font-style: italic;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
          a:before { content: '\''; }
          a:after { content: '\''; }
          span {
            color: #a4a4a4;
            font-size: 15px;
            font-family: 'Archer A', 'Archer B';
            font-weight: 700;
            font-style: italic;
          }
          span:before {
            content: '- ';
          }
        }
      }
    }//block-comment

    .block-tagclouds {
      .block-content {
        .tagclouds-term {
          a {
            margin: 1.5px 0;
            padding: 6px 8px;
            color: #5b5b5b;
            line-height: 1em;
            font-size: 11px;
            font-weight: normal;
            font-family: MuseoSlab-700, Arial, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            background-color: #ececec;
            .transition( color; 0.5s );
            .transition( background-color; 0.3s );
          }
          a:hover {
            color: #ececec;
            background-color: #888;
          }
        }
      }
    }//block-tagclouds


    @media @640 {
      margin: 10px 0 0 0;
      width: 100%;
      float: none;
    }
  }

}


/**
 * Page Footer Section ===============================================
 */
.page-footer-wrapper {
  clear: both;
  padding: 20px 0 40px 0;
  background-color: #c7c7c7;


  .footer-block-group {
    margin: 25px 0;
    list-style: none;

    @media @640 {
      display: none;
    }

    .region {
      vertical-align: top;
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }

    .footer-block-2 {
      margin: 0 45px;
    }

    .block-item {
      padding: 16.5%;
      width: 300px;
      height: 300px;
      *padding: 40px;
      *width: 220px;
      *height: 220px;
      overflow: hidden;
      display: block;
      vertical-align: top;
      text-align: center;
      border: 1px solid #fff;
      .transition( border; 0.5s );

      @media @1000 {
        width: 222px;
        height: 222px;
      }
      @media @768 {
        padding: 10%;
        width: 180px;
        height: 180px;
      }

      h2 {
        color: #fff;
        line-height: 1.2em;
        font-size: 23px;
        font-weight: normal;
        font-family: MuseoSlab-500, Arial, sans-serif;
        text-transform: uppercase;

        @media @1000 {
          font-size: 18px;
        }
      }
      hr {
        margin: 17% auto 18% auto;
        width: 30px;
        border: none;
        border-top: 5px solid #fff;
      }

      a {
        padding: 5%;
        *padding: 5px;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        font-family: 'Archer A', 'Archer B';
        font-weight: 700;
        font-style: italic;
        line-height: 1.1em;
        text-decoration: none;

        @media @1000 {
          padding: 0;
          font-size: 16px;
        }
      }
    }
    .block-item:hover {
      border: 1px solid #e529a5;
    }
  }


  .menu li {
    display: inline-block;
    a {
      margin: 0 10px 0 0;
      padding: 3px 0;
      color: #000000;
      display: inline-block;
    }
    a:hover {
      text-decoration: none;
    }
  }
}



