<div id="our-satisfaction-guarantee">
  <div class="col">
    <h2 class="icon-s32-0"><span>Free Shipping</span></h2>
    <p>Free Shipping for Linen Lovers & orders over $150</p>
  </div>
  <div class="col">
  <h2 class="icon-s32-0"><span>Customer Hotline:<br/>1300 783 005</span></h2>
    <p>Monday to Friday<br/>8.30am to 5pm (AEST)</p>
  </div>
  <div class="col">
    <h2 class="icon-s32-0"><span>Free Returns</span></h2>
    <p>In-store & online</p>
  </div>
  <div class="col">
    <h2 class="icon-s32-0"><span>Secure Shipping</span></h2>
    <p></p>
  </div>
</div>