/**
 * Variables and Common LESS functions
 *
 *
 *
 */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  *behavior: url(/sites/all/themes/adairs/css/boxsizing.htc);
}

@min-480 :  ~"(min-width: 480px)";

// Setup media sizes
//1200, 980, 768, 767, 480
//@1200: ~"(max-width: 1200px)";
@1000:  ~"(max-width: 1000px)";
@980 :  ~"(max-width: 980px)";
@768 :  ~"(max-width: 768px)";
@740 :  ~"(max-width: 740px)";
@640 :  ~"(max-width: 640px)";
@480 :  ~"(max-width: 480px)";
@479 :  ~"(max-width: 479px)";
@320 :  ~"(max-width: 320px)";


/*
@979 : ~"(min-width: 768px) and (max-width: 979px)";
@978 : ~"(max-width: 978px)";
@767 : ~"(max-width: 767px)";
@480 : ~"(max-width: 480px)";
*/

// Global colours
@global-body : #434343;
@global-purple : #9274A4;

// Debug colors
@debug1 : #fdc689;
@debug2 : #eaeaea;
@debug3 : #7accc8;
@debug4 : #c4df9b;
@debug5 : #a186be;

.debug1 { background-color: @debug1; }
.debug2 { background-color: @debug2; }
.debug3 { background-color: @debug3; }
.debug4 { background-color: @debug4; }
.debug5 { background-color: @debug5; }

// Common colours
@grey1 : #F5F5F5;
@grey2 : #5e5e5e;
@grey3 : #9f9f9f;

@btn-green : #17B29E;
@btn-green-hover : #5cc9bb;

@btn-greyd : #9c9c9c;
@btn-greyd-hover : #a7a7a7;

@btn-greyl : #e5e5e5;
@btn-greyl-hover : #eeeeee;

@btn-disabled : #f8f8f8;

@btn-purple : #ab94b9;
@btn-purple-hover : #c4b4ce;

@btn-pink : #df73ba;
@btn-pink-hover : #ed91cd;

@btn-white : #ffffff;
@btn-white-hover : #eeeeee;

@status-error-bg : #fedede;
@status-error-color : #fa5b5b;
@status-message-bg : #e7f7f5;
@status-message-color : #17b29e;

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


/**
 * Buttons - common button style
 */
.button {

  padding: 16px 28px;
  height: 50px;
  .display-inline-block;
  color: #fff;
  .setfont( 16px; normal; normal; MuseoSlab-500 );
  text-decoration: none;
  background-color: #818181;
  opacity: 1;

  &:after {
    content: "";
  }
}


// Global CTA buttons
.btn {
  .button;

  img {
    margin-top: -3px;
  }
}


.btn-purple {
  background-color: @btn-purple;

  &:hover {
    background-color: @btn-purple-hover;
  }
}
.btn-green {
  background-color: @btn-green;

  &:hover {
    background-color: @btn-green-hover;
  }
}
.btn-greyl {
  background-color: @btn-greyl;
  color: #484848;

  &:hover {
    background-color: @btn-greyl-hover;
  }
}
.btn-greyd {
  background-color: @btn-greyd;
  color: #fff;

  &:hover {
    background-color: @btn-greyd-hover;
  }
}
.btn-pink {
  background-color: @btn-pink;

  &:hover {
    background-color: @btn-pink-hover;
  }
}
.btn-white {
  background-color: @btn-white;

  &:hover {
    background-color: @btn-white-hover;
  }
}
.btn-disabled {
  color: #a2a2a2;
  background-color: @btn-disabled;
  cursor: default;

  &:hover {
    background-color: @btn-disabled;
  }
}




// Deprecated

.btn-1 {
  .btn-green;
}
.btn-2 {
  .btn-greyd;
}

/**
 * Hide Drupal admin menu in mobile
 */
@media @640 {
  #admin-menu { display: none; }
  html body.admin-menu { margin-top: 0px !important; }
}
/**
 * Helper
 */
.transition (@element; @time: 0.5s; @method: ease; @delay: 0s) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
      -ms-transition: @arguments;
       -o-transition: @arguments;
          transition: @arguments;
}

// Box shadow
.box-shadow(@blur: 10px; @spread: 2px; @colour: #CCC;) {

  -moz-box-shadow: 0px 0px @blur @spread @colour;
  -webkit-box-shadow: 0px 0px @blur @spread @colour;
  box-shadow: 0px 0px @blur @spread @colour;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@colour')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@colour');
}

// Gradient
// @TODO refactor this with variables
.gradient() {
  background-image: linear-gradient(left bottom, rgb(222,224,222) 10%, rgb(247,248,248) 55%);
  background-image: -o-linear-gradient(left bottom, rgb(222,224,222) 10%, rgb(247,248,248) 55%);
  background-image: -moz-linear-gradient(left bottom, rgb(222,224,222) 10%, rgb(247,248,248) 55%);
  background-image: -webkit-linear-gradient(left bottom, rgb(222,224,222) 10%, rgb(247,248,248) 55%);
  background-image: -ms-linear-gradient(left bottom, rgb(222,224,222) 10%, rgb(247,248,248) 55%);
  background-image: -webkit-gradient(
    linear, left bottom, right top,
    color-stop(0.1, rgb(222,224,222)),
    color-stop(0.55, rgb(247,248,248))
  );
}

// Default styling for inline links
.default-link {

  .display-inline-block(baseline);
  //color: @global-body;
  color: #5e5e5e;
  .setfont( 14px; normal; normal; MuseoSlab-500 );
  text-decoration: none;
  border-bottom: 1.5px dotted #5e5e5e;

  // Hover state
  &:hover, &:active {
    //.transition;
    color: @global-purple;
    border-bottom: 1.5px dotted #9274A4;
  }
}

// Clearfix replicated from drupal.css
.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// Drupal CSS overrides
.form-item input.error {
  border-color: #fa5b5b !important;
}

.display-inline-block (@alignment: top) {
  display: inline-block;
  vertical-align: @alignment;
  //IE 7 fixes;
  *display: inline;
  *zoom: 1;
}

.setfont (@size; @weight: normal; @style: normal; @face) {
  font-size: @size;
  font-weight: @weight;
  font-style: @style;
  font-family: @face, Arial, sans-serif;
}

// Global paragraph
.font-brand {
  color: #434343;
  line-height: 20px;
}

.font-brand-light {
  .font-brand;
  .setfont( 14px; normal; normal; MuseoSlab-300 );
}

.font-brand-normal {
  .font-brand;
  .setfont( 14px; normal; normal; MuseoSlab-500 );
}

.font-brand-bold {
  .font-brand;
  .setfont( 14px; normal; normal; MuseoSlab-700 );
}

.font-brand-italics {
  .font-brand;
  .setfont( 14px; normal; normal; MuseoSlab-700 );
}

// More info on product detail page etc.
.more-info {
  padding-bottom: 20px;
  .setfont( 19px; 600; italic; 'Archer A', 'Archer B' );
  color: #000;
}

// Quick fix to hide input values
.opacity-hide {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

// Global arrow size and style
.arrow-global {

    content: ' ';
    position: absolute !important;
    width: 0;
    height: 0;
    visibility: visible;
}

.arrow-top-under (@left: 100px; @color: #cfcfcf) {

  // Arrow underneath
  &:before {

    .arrow-global;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid @color;
    top: -12px;
    left: @left;
  }
}

.arrow-top-over (@left: 101px; @color: #fff) {

  // Arrow on top
  &:after {

    .arrow-global;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid @color;
    top: -11px;
    left: @left;
  }
}

.arrow-bottom-under (@left: 100px; @color: #cfcfcf) {

  // Arrow underneath
  &:before {

    .arrow-global;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid @color;
    bottom: -12px;
    left: @left;
  }
}

.arrow-bottom-over (@left: 101px; @color: #fff) {

  // Arrow on top
  &:after {

    .arrow-global;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid @color;
    bottom: -11px;
    left: @left;
  }
}



/*
Description: Override gallery image sizes for responsive views
Pages: Product Display Section
*/
.setGalleryImage (@mediaSize, @imgSize)
{
  @media @mediaSize {
    max-height: @imgSize !important;
    max-width: @imgSize !important;
    overflow: hidden;
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.hide-text {
  color: transparent;
  line-height: 0;
  font-size: 0;
}

.float-left  {float: left;};
.float-right {float: right;};

.breadcrumb {

  color: #bbbbbb;
  margin-top: -10px;
  margin-bottom: 20px;

  a {
    .setfont( 13px; normal; normal; MuseoSlab-300 );
    text-decoration: none;
    color: #bbbbbb;
  }
}

