/**
* Targetting for IE 8 ===============================================
*/
// body {
//   background: blue;
// }

/**
 * Page navigation menu ===============================================
*/
.page-nav-wrapper ul.page-nav > li {

  padding-right: 15px;

  &.expanded {
    background-position: 90% 30px;
  }
}

/**
 * Product detail page ===============================================
*/

.product-display-quicklook,
.node-product-display,
.node-membership-display,
.node-gift-card-display,
.page-lookbook {

  .commerce-add-to-cart {

    .btn-share,
    .wishlist,
    .wishlist-item-added,
    .st_sharethis_custom {
      width: 80px;
      min-width: 1px;
    }

    #edit-line-item-fields {
      display: none;
    }

    .btn-submit {
      width: 160px;
      min-width: 1px;
      float: left;
    }
  }

}

/**
 * Disable Box shadow ===============================================
*/
div.ctools-modal-content {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(enabled=false)";
  filter: progid:DXImageTransform.Microsoft.Shadow(enabled=false);
}

/**
 * Disable Box shadow ===============================================
*/
.view-shopping-cart-summary-block {
  .clearfix;
}

.checkout-cart-value-block {
  .clear;
}

