
/*products-order-view */
label.strong-label{font-weight: bold;font-size: 12px;}
.line-items-view table{font-size: 9px;  border: 1px solid #000;line-height:2.5em;text-align: center}
.line-items-view tr td{ border: 1px solid #000;font-weight: normal;line-height:1.5em;}
.views-align-center{text-align: center}
td.views-align-right{text-align: right}
td.views-align-left{text-align: left}
th.views-field-line-item-label,
th.views-field-quantity,
th.views-field-commerce-unit-price,
th.views-field-commerce-total{text-align: center;}

.views-field-line-item-label{width: 55%;}
.views-field-quantity{width: 15%;}
.views-field-commerce-unit-price,
.views-field-commerce-total{width: 15%;border: 1px solid #000; font:10px;}

/*.billing-shipping-view*/
.views-table th{font-weight: bold;}
.billing-shipping-view div{line-height: 1em}
.billing-shipping-view table{font-size: 9px; }
th.views-field-commerce-customer-billing,
th.views-field-commerce-customer-shipping{font-weight: bold;text-align: left}

div.field-name-commerce-customer-address{float:left;}
div.field-name-field-phone-number {float:left; line-height: 0.5em;}
div.field-name-field-phone-number .field-label{height: 10px;}
div.field-name-field-phone-number .field-items .field-item{float:left; height:10px !important; display:block;}
div.field-name-field-phone-number .field-items {line-height:0.5em; height:10px !important; float:left; display:block;}

div.field-name-commerce-customer-address {line-height:0.5em;}
div.name-block,
div.street-block{line-height: 0.5em;background-color:#fff;}
div.locality-block{line-height: 0.5em;background-color:#fff;}
div.locality-block .locality,
div.locality-block .state,
div.locality-block .postal-code{line-height: 1.9em;background-color:#fff;}
.addressfield-container-inline{float:left;}


