/**
 * Lookbook Admin UI
 */

/**
 * Helper
 */
 /*
.transition (@element; @time: 0.5s; @method: ease; @delay: 0s) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
      -ms-transition: @arguments;
       -o-transition: @arguments;
          transition: @arguments;
}


#prev.disabled, #next.disabled {
  display: none !important;
}

.lookbook-slide-wrapper {

  .hover {
    .transition( opacity, visibility; 0.7s, 0s; ease; 0, 0.3s );
    background-color: #ab94b9;
  }

  .lookbook-products {
    padding-top: 20px;
    .lookbook-slide-product {
      display: inline-block;
      border: 1px dotted silver;
      padding: 10px;
      margin: 15px 15px 0 0;
    }

  }

  .field-collection-view-links {
    float: right;
    li {
      display: inline-block;
    }
  }

  .lookbook-slide-add-product {
    border: 1px dotted silver;
    padding: 10px;
    float: right;
  }



  .lookbook-draggable-wrapper {
    margin-bottom: 10px;
  }


  .lookbook-slide-pin {
    cursor: pointer;
    &.draggable {cursor: move;}
    margin-bottom: 10px;
    background: url(/sites/all/themes/adairs_style/images/icons/icon-plus.png) center center no-repeat;
    background-size: 80px;
    height: 50px;
    width: 50px;
    border: 1px solid silver;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.2);

    &.rotating-pin {
      background: url('/sites/all/themes/adairs_style/images/rotating-pin_128.gif') center center no-repeat;
      background-color: white;
      background-size: 42px;
      &:hover {
        background-color: white;
      }
    }

    &:hover {
      background-color: #ab94b9;
      box-shadow: 2px 2px 2px rgba(1,1,1,0.2);
    }
  }



}


*/

// Lookbook admin styles
.node-lookbook_slide-form {

  .lookbook-slide-pin {
    width: 39px;
    height: 39px;
    display: block;
    background: url(../images/icons/icon-pin.png) no-repeat center;
  }

  .lookbook-slide-image-wrapper {
    .image-preview {
      position: relative;
      margin-top: 10px;
    }
    .image-widget-data {
      float: left;
      width: 100%;
    }
  }

  .pin-reset {
    float: left;
    margin-right: 25px;
    background: url(../images/icons/icon-minus.png) center center no-repeat;
    background-size: 80px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    // background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    &:hover {
      background-color: rgba(255, 0, 0, 0.5);
    }
  }

  .lookbook-slide-products-wrapper {
    tr {
      &:hover, &:focus {

      }
      div.form-wrapper {
        display: inline-block !important;
        padding-right: 30px;
      }
    }
  }

}

