/**
 * Override the module style =======================================================
 */

.div.addressfield-container-inline > div.form-item {
  clear: left !important;
  margin-right: 0 !important;
}
