/**
 *------------------------- Reset style -----------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
     line-height:1;
   margin:0;
   padding:0;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  cursor:pointer;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/**
 *------------------------- Global style -----------------------------*/
html, body {
  font-size: 12px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-smooth: always;
}
body {
  background: #fff;
}
a {
  color: #52555f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.2em;
  color: #58585a;
}
img {
  border: none;
}
h1 {
  margin: 0 0 15px 0;
  display: inline-block;
  font: 24px MuseoSlab500, sans-serif;
  text-transform: uppercase;
}
h2 {
  color: #52555f;
  display: inline-block;
  font: 25px MuseoSlab500, sans-serif;
}

.bold {
  font-weight: bold !important;
}
.italic {
  font-style: italic !important;
}
.uppercase {
  text-transform: uppercase !important;
}

.baseColor {
  color: #52555f;
}
.baseColorPink {
  color: #e64a55;
}
.baseColorPink1 {
  color: #f35056;
}
.baseColorPurple {
  color: #da1792;
}
.baseColorPurple1 {
  color: #887cad;
}
.baseColorCyan {
  color: #04a0b2;
}
.baseColorCyan1 {
  color: #5fbfb7;
}
.baseColorGreen {
  color: #a4d653;
}
.baseColorGreen1 {
  color: #67b0b7;
}
.baseColorOrange {
  color: #f06601;
}
.baseColorDarkGrey {
  color: #52555f;
}
.gray {
  color: #969699;
}
.clear {
  clear: both;
}

.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.rightAlign {
  text-align: right;
}

@font-face {
  font-family: 'MuseoSlab500';
  src: url('../fonts/museo_slab_500-webfont.eot');
  src: url('../fonts/museo_slab_500-webfont.eot?iefix') format('eot'),
       url('../fonts/museo_slab_500-webfont.woff') format('woff'),
       url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
       url('../fonts/museo_slab_500-webfont.svg#webfontEbewbcrL') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab700';
  src: url('../fonts/museo_slab_700-webfont.eot');
  src: url('../fonts/museo_slab_700-webfont.eot?iefix') format('eot'),
       url('../fonts/museo_slab_700-webfont.woff') format('woff'),
       url('../fonts/museo_slab_700-webfont.ttf') format('truetype'),
       url('../fonts/museo_slab_700-webfont.svg#webfontEbewbcrL') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherSemiboldIta';
  src: url('../fonts/ArcherPro-SemiboldIta.eot');
  src: url('../fonts/ArcherPro-SemiboldIta.eot?iefix') format('eot'),
       url('../fonts/ArcherPro-SemiboldIta.ttf') format('truetype'),
       url('../fonts/ArcherPro-SemiboldIta.svg#webfontEbewbcrL') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherBoldIta';
  src: url('../fonts/archer-boldital-pro.eot');
  src: url('../fonts/archer-boldital-pro.eot?iefix') format('eot'),
       url('../fonts/archer-boldital-pro.ttf') format('truetype'),
       url('../fonts/archer-boldital-pro.svg#webfontEbewbcrL') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**
 *------------------------ Buttons style  -----------------------------*/
.stickyBtnDiv {
  position: absolute;
  right: 0;
  bottom: 14%;
}
a#onq {
  width: 46px;
  height: 18px;
  display: inline-block;
  background: url(../images/facebook/onq_logo.png) top center no-repeat;
}
a#onq:hover {
  background: url(../images/facebook/onq_logo.png) bottom center no-repeat;
}

a.normalBtn {
  padding: 7px 25px 7px 10px;
  vertical-align: baseline;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #7a7470;
  border: 1px solid #7a7470;
  background: #fff;
  text-decoration:none!important
}
a.normalBtn:hover {
  opacity: 0.7;
  filter: alpha(opacity = 70);
  text-decoration: none !important;
}
a.readmore-btn {
  margin-top: 10px;
  padding: 8px 25px 8px 18px;
  display: inline-block;
  text-transform: uppercase;
  background: #8b7e9c;
  background: url("../images/facebook/icons/icon_arrow_white.png") no-repeat scroll 93% center #8B7E9C;
}
a.readmore-btn span {
  color: #fff;
  font: 11px MuseoSlab700, sans-serif;
}
/**
 *------------------------- Page layout -----------------------------*/
#page-wrapper {
  margin: 0 auto 0 auto;
  border: 1px solid #b5b5b5 ;
}
/**
 *------------------------- Page Header style -----------------------------*/
#page-header-wrapper {
  clear: both;
  width: 100%;
}
.page-header {
  width: 100%;
  margin: 0 auto 20px auto;
  display: inline-block;
  float : left;
}
#logo {
  *float: left; /* IE7 ONLY */
  margin-left: 33px;
  display: inline-block;
}





.header-nav {
  margin-top: 8px;
  float: right;
  width: 275px;
}
.header-nav ul li {
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
}

.header-nav ul li a {
  padding: 8px 20px 8px 5px;
  color: #464646;
  display: block;
  font-weight: bold;
  font: 12px MuseoSlab700, sans-serif;
  background: url(../images/facebook/icons/icon-arrow.png) 93% center no-repeat;
}


.hero-overlay {
  position: absolute;
  top: -12px;
  left: 0px;
}
.page-banner {
  clear: both;
  position: relative;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  overflow: hidden;

}

.page-banner-editor{
  height:487px;
  width:808px
}

.home-banner{
    height:358px
  }
.page-banner a {
  display: block;
}


.info-bar span{
 font: 15px ArcherSemiboldIta, sans-serif;
  color:#393535!important;
}
.info-bar  {
  font: 14px MuseoSlab700, sans-serif;
  background: url(../images/facebook/bg-bar.jpg);
  border-bottom: 1px solid #b5b5b5;
  clear: both;
  padding: 17px 20px;
}

.home-intro {
  margin: 30px 0 0 30px;
}
.home-offer {
  margin: 30px 0 0 0;
}
.store-intro-left,.store-intro-left p,
.content, .content p {
  line-height: 1.5em;
  color:#5e5e5e;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px
}
.store-intro-left p{
  margin-bottom:10px;
}

.page-body {
  clear: both;
  overflow: hidden;
}
.page-body-left {
  width: 230px;
  float: left;
  margin-right: 30px;
}
.page-body-right {
  float: right;
  width: 525px;
}
.block-header {
  clear: both;
  margin: 20px 0;
  display: block;
}
.block-header label {
  padding: 10px 30px;
  color: #fff;
  font: 15px MuseoSlab700, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  background: #da1792;
}
.offer-list ul {
  overflow: hidden;
}
.offer-list ul li {
  margin-right: 45px;
  margin-bottom: 20px;
  list-style: none;
  float: left;
}
.offer-img-wrapper img{
  width:233px;
  height:148px;
}
.offer-list ul li:nth-child(2n) {
  margin-right: 0;
}
.offer-list ul li a img {
  -moz-transition: opacity 0.5s ease-in-out 0s;
}
.offer-list ul li a:hover img {
  opacity: 0.8;
}


.offer-list .views-row {
  margin-top: 10px;
}
.offer-info h2 , .views-row .product-name{
  display: block;
  font: 16px MuseoSlab700, sans-serif;
  text-transform: uppercase;
}
.offer-list .views-row a {
  font: 16px ArcherSemiboldIta, sans-serif;
}

.offer-list .views-field-field-link-1 a{
  text-transform: lowercase;
}

.offer-list .views-row-1 .views-field-field-link-1 a { color: #f06601; }
.offer-list .views-row-2 .views-field-field-link-1 a { color: #67b0b7; }
.offer-list .views-row-3 .views-field-field-link-1 a { color: #f35056; }
.offer-list .views-row-4 .views-field-field-link-1 a { color: #887cad; }

.social-network-wrapper {
  clear: both;
  margin: 40px 30px 40px 30px;
}
.social-network-wrapper ul li {
  padding: 14px 0;
  overflow: hidden;
  list-style: none;
  border-top: 1px solid #eee;
}
.social-network-wrapper ul li:last-child {
  border-bottom: 1px solid #eee;
}
.sn-block {
  width: 300px;
  margin-right: 30px;
  float:left
}
.sn-block .sn-btn {
  width: 100px;
  float: left;
}
.sn-block label {
  padding: 3px 0;
  display: inline-block;
  font: 12.5px MuseoSlab700;
  color: #221d1a;
}

.feefo_text{
  font:15px ArcherSemiboldIta;
}
.feefo_text img{
vertical-align:middle;
}
/**
 *------------------------- Page Footer style -----------------------------*/
#page-footer-wrapper {
  width: 810px;
  margin: 10px auto 0;
  overflow: hidden;
}
.page-footer ul li {
  float: left;
  list-style: none;
}
.page-footer ul li a,
.page-footer ul li{
    color: #636363;
    font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.page-footer ul li a {
  padding: 2px 10px;
}

.pageFooter p,
.copyrightInfo {
  font: 9px "Lucida Grande", Lucida, Verdana, sans-serif;
}

/**
 *------------------------- Store Locator -----------------------------*/
.page-banner-locator{
  height:358px
}
.section-header {
  margin-bottom: 20px;
  font: 21px MuseoSlab500, sans-serif;
  text-transform: uppercase;
}
.section-header span {
  font: 16px ArcherSemiboldIta, sans-serif;
  color: #4f4f4f;
  text-transform: none;
}
.store-intro-wrapper {
  margin:50px 30px 30px 30px;
  overflow: hidden;
}
.store-intro-left {
  float: left;
  width: 400px;
}
.store-intro-right {
  float: right;
  width: 320px;
}
.store-intro-right img{
  float:right
}
#location_title{
  font-size: 14px;
    margin-bottom: 10px;
}
#location_description{
  margin-bottom: 30px;
  line-height: 1.3em;
  }
.greyArrow {
background: white url(../images/icons/icon_arrow_grey.png) 90% center no-repeat !important;
}
div.storeLocator {
  clear: both;
  margin: 30px;
  overflow: hidden;
}
h2.title_store_category {
  margin-bottom: 10px;
  color: #3a322d;
  font: 22px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.inputIconBox {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E7E7E7;
  padding: 7px 10px;
}
.inputIcon {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 15px;
    margin-right: -8px;
    overflow: hidden;
    width: 22px;
}
.inputIconBox input {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    outline: medium none;
    padding: 0 !important;
    width: 130px !important;
}

.storeInfo {
  float: left;
  width: 300px;
}
.storeInfo .inputIconBox input {
  width: 255px !important;
}
.mapWrapper {
  float: right;
  width: 420px;
}
.map {
  width: 415px;
  height: 400px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #cecece;
}
.mapNotes {
  display: block;
  margin: 10px 0;
}


.nearbyStore {  margin-top: 10px;


}
.nearbyStore label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  font-size:12px
}
.nearbyStore ul {
  margin-bottom: 20px;
  overflow: hidden;
}
.nearbyStore ul li:first-child {
  border-top: 1px dotted #cecece;
}
.nearbyStore ul li {
  float: left;
  width: 100%;
  padding: 5px 0;
  line-height: 21px;
  vertical-align: middle;
  list-style: none;
  border-bottom: 1px dotted #cecece;
}
.nearbyStore a.nearbyStoreBtn {
  width: 21px;
  height: 21px;
  cursor: pointer;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
  background: url(../images/facebook/icons/icon_plus.jpg) no-repeat center center;
}
.nearbyStore .address {
  float: left;
  width: 180px;
}
.storeTitle {
  margin-top: 20px;
}
.storeTitle .style1 {
  font-size: 11px;
  color: #626160;
  display: block;
  padding-bottom: 5px;
}
.storeInfo_content {
  margin-bottom: 30px;
}
.storeInfo_content,
.storeInfo_content p{
  line-height: 1.3em;
}




/**
 *------------------------- Form style -----------------------------*/
#c-form-overlay {
  width: 810px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 3;
  background: #eee;
}
.form-wrapper{
  width:575px

}
.competition-form-wrapper {
  clear: both;
}
.c-termscond {
  padding: 10px 30px 30px 30px;
  background: url(../images/facebook/form-bg.jpg);
    color: #58585A;
    line-height: 1.2em;
}
.c-form-top {
  width: 810px;
  height: 245px;
  background: url(../images/facebook/form-top.jpg) bottom center no-repeat;
}
.c-form-btm {
  width: 810px;
  height: 79px;
  background: url(../images/facebook/form-btm.jpg) top center no-repeat;
}
.overlay .c-termscond,
.overlay .c-form-wrapper,
.overlay .c-form-btm{
  opacity:0.4
}
.c-form-wrapper {
  padding-left: 30px;
  width: 780px;
  height: 713px;
  position: relative;
  background: #f4f4f4 url(../images/facebook/form-right.jpg) right top no-repeat;
}
.hide{
  display:none!important
  }

textarea.error,
input.error{
  border:solid 1px red!important;
}
#message_form p,
#message_form,
.error-message{
  color: red;
  width: 100%;
}
.c-form-intro {
  line-height: 1.5em;
  overflow: hidden;
  margin-bottom: 30px;
}
.c-form-intro span.style1 {
  color: #574847;
  font: 22px ArcherSemiboldIta, sans-serif;
}
.c-form-intro span.style2 {
  color: #f45544;
  font: 29px MuseoSlab700, sans-serif;
}
.c-form-intro span.style3 {
  color: #60b4b6;
  font: 13px MuseoSlab700, sans-serif;
}
.c-form-intro-left {
  margin-right: 30px;
  padding-right: 30px;
  float: left;
  width: 300px;
  border-right: 1px solid #bbb;
}
.c-form-intro-right {
  float: left;
  width: 340px;
}
.c-form-intro-right ul {
  margin-left: 20px;
}
.c-form-intro-right ul li {
  list-style: decimal;
  margin-bottom: 10px;
}


a#c-form-btn {
  padding: 13px 25px;
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  color: #fff;
  background: #f45544;
}
a#c-form-btn span {
  text-transform: uppercase;
  font: 12px MuseoSlab700, sans-serif;
}

.form-wrapper .form-row-title {
  margin-bottom: 12px !important;
  color: #f45544;
  font: 15px MuseoSlab700, sans-serif;
}
.form-wrapper .form-row {
  float: left;
  width: 100%;
  margin: 8px 0;
}
.form-wrapper .form-row label {
  float: left;
  width: 155px;
  font-size: 12px;
  line-height: 30px;
  color: #333333;
}
.form-wrapper .form-row label#termslabel {
  float: left;
  width: 360px;
  line-height: 18px;
}
.form-wrapper .form-row input[type="text"],
.form-wrapper .form-row input[type="email"] {
  padding: 8px 8px;
  width: 400px;
  font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #58595b !important;
  border: 1px solid #cccccc;
}
.form-wrapper .form-row input[type="text"]:focus,
.form-wrapper .form-row input[type="email"]:focus {
  border: 1px solid #777;
  outline:none;
}
.form-wrapper .form-row input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}
.form-wrapper .form-row textarea {
  width: 400px;
  height: 120px;
  padding: 8px;
  resize: none;
  font-size: 12px;
  color: #58595b;
  border: 1px solid #cccccc;
}
.form-wrapper .form-row textarea:focus {
  border: 1px solid #777;
}

.small{
  font:11px "Lucida Grande",Lucida,Verdana,sans-serif;
  color:black!important;
}

/**
 * ----------------------------- Style Editor Choice --------------------- */
.sec-intro-wrapper {
   clear: both;
  margin: 30px 15px 15px 15px;
  overflow: hidden;
}
.sec-title {
  letter-spacing: 2px;
  padding-left: 14px;
  margin-top: 32px;
  margin-left: -14px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font: 13px MuseoSlab700;
  line-height: 50px;
  background: url(../images/facebook/sec-title-bg.png) left center no-repeat;
}
.sec-intro-img {
  float: left;
  width: 270px;
  margin-top: 13px;
}
.sec-intro-img img{
  float:right
}
.sec-content {
  float: right;
  width: 475px;
  padding-right: 19px
}
.sec-content p.title {
  margin: 25px 0 15px;
  color: #8b7e9c;
  font: 17px ArcherSemiboldIta, sans-serif;
}
.sec-content{
  color: #5e5e5e;
  line-height: 1.6em !important;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.sec-content p{
  margin:0 0 10px 0;
   line-height: 1.6em !important;
   font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.sec-list {
  margin:20px 0 0 0;
  clear: both;
}
.sec-list h2 {
  margin: 15px 0 15px 30px;
  font: 17px MuseoSlab700;
  color: #464646;
  text-transform: uppercase;
}
.sec-list ul {
  clear: both;
  margin-bottom: 30px;
  overflow: hidden;

}
.sec-list ul li {
  list-style: none;
  float: left;
  margin-right: 0px;
  position: relative;

}
.sect-short-description {
  color: #7FB5B4;
  font: 19px ArcherSemiboldIta, sans-serif;
  padding: 25px 20px 0 0px;
  text-align: right;
  line-height: 25px;
  width: 185px;
  float: right;
}

.sec-list ul li .wrapper_image{
  width:142px;
  height:142px;
  position:relative;
   border-top:1px solid #B5B5B5;
  border-bottom:1px solid #B5B5B5;
  border-right:1px solid #B5B5B5;
}
.styleIcon {
    background: url("../images/facebook/icons/icon_style.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 104px;
    position: absolute;
    right: 5px;
    top: 0;
    width: 67px;
    z-index: 1;
}

.product-info {
  margin: 10px 0 0 10px;
}
.product-info .style1 p,
.product-info .style1 {
  font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #141414!important;;
}
.product-info .style2 a,
.product-info .style2 {
  font: bold 13px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #141414!important;

}
.product-info .style2{
    width: 120px;
}
.product-info .style3 p,
.product-info .style3 {
  font: bold 13px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #d80b8c!important;;
}
.wrapper_like{width:53px;overflow:hidden;height:26px;position: absolute;}
#home_like .wrapper_like{left: 53px;  top: 111px;}
.home-like-wrapper{width:53px;overflow:hidden;height:26px;display:inline-block;vertical-align: middle;}
#home_like{
    height: 200px;
    left: 543px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 205px;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;}
.hero-style1{
  color: #393535;
    font: 21px "ArcherSemiboldIta",sans-serif;
}
.hero-style2{
  font:50px "MuseoSlab500", sans-serif;
  color:#da1792
}
.hero-style3{
  font:14px "ArcherSemiboldIta", sans-serif;;
  color:#393535;
}
.line{
  border-bottom:solid 1px #9b9b9b;
    height: 14px;
    width: 100%;
}
#competition_like{top: 147px;left: 591px;}
#offers_like{  left: 349px; top: 186px;}
.offers-bottom .left img{
   border-top: 1px solid #B5B5B5;
   border-right: 1px solid #B5B5B5;
}

.offers-bottom .right img{
   border-top: 1px solid #B5B5B5;
   border-left: 1px solid #B5B5B5;
}

#offers-banner{
  overflow:visible;
   height: 468px;
}
.editor-featured-desc{
  font: 14px "ArcherSemiboldIta", sans-serif;
  color:#898989;
  padding-top: 10px;

}
.editor-featured-desc span{
  font-family:"ArcherBoldIta"!important;

}
.editor-featured-desc .editor-link{
  color:#d80b8c!important;
  display:inline!important
}
.position-1{
  position:absolute;
  left: 47px;
  top: 180px;
}
.position-2{
  position:absolute;
  left: 308px;
  top: 180px;
}
.position-3{
  position:absolute;
  left: 566px;
  top: 180px;
}

.editor-link img{ border:1px solid #B5B5B5;}
.sec-image-wrapper{
  width: 192px;
  height: 240px;

}

.action-btn-group {
  margin: 10px 0;
  padding: 8px;
  border: 1px dashed #888;
}

.action-btn-group li{
  margin: 0 5px 0 0;
  padding: 5px 12px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  background-color: #ab94b9;
}


